.services {
    animation: services--animtaion 0.8s;
}

.services h3 {
    margin-top: 50px;

    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 66px;
    font-style: normal;
}

/* animation */

@keyframes services--animtaion {
    0%{
        opacity: 0.1;
        margin-left: 200px;
    }

    50%{
        opacity: 0.5;
    }

    80%{
        opacity: 0.8;
    }

    100%{

    }
}
