.services-card {
    width: 440px;
    height: 208px;

    display: flex;
    align-items: flex-end;
    flex-direction: row;

    padding-bottom: 12px;
    padding-left: 17px;

    animation: services-card--animation 0.5s;
}
.services-card:hover {
    opacity: 0.5;
    transition-duration: 0.7s;

    cursor: pointer;
}

.services-card--active {
    width: 440px;
    height: 220px;

    display: flex;
    align-items: center;

    padding-left: 17px;
    margin-left: auto;
    margin-top: 40px;
}

.services-card--active:hover {
    opacity: 0.5;
    transition-duration: 0.7s;

    cursor: pointer;
}

.services-card__text {
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 382;
    font-size: 24px;
    font-style: normal;

    animation: services-card__text--animation 1.5s;
}

.services-card__button {

    width: 200px;

    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 382;
    font-size: 44px;
    font-style: normal;
}

/* animation */

@keyframes services-card__text--animation {
    0%{
        opacity: 0.2;
        margin-top: 100px;
        margin-left: -5px;
    }

    100%{
        opacity: 1;
    }
}

@keyframes services-card--animation {
    0%{
        margin-left: -500px;
    }

    100%{

    }
}