.howWeWorkSection {
    width: 1000px;

    display: flex;
    align-items: center;
}

span {
    margin-left: auto;

    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
}

.focus-span {
    font-size: 19px;
    animation: focus-span--animation 0.7s;
}

/* animation */

@keyframes focus-span--animation {
    0% {
        opacity: 0.4;
        font-size: 10px;
    }
    100% {

    }
}
